<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="login(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Email Address" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" ngModel name="password" required #pwInput="ngModel">
      <mat-error *ngIf="pwInput.hasError('required')">Password must not be empty.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Login</button>
    <a routerLink="/resetpassword" mat-raised-button color="warn">Forget Password?</a>
  </form>
  
</section>